accelerate
bitsandbytes
datasets
deepspeed
einops
flash-attn
isort
jsonlines
loralib
optimum
packaging
peft
ray[default]
tensorboard
torch
torchmetrics
tqdm
transformers
transformers_stream_generator
wandb
wheel
ring_flash_attn
